@using CPSender.Pages.Components
@using CPShared.Models
@using CPSender.Services.Interfaces
@using CPShared.Constants
@using CPShared.Validators
@using CPShared.Extensions
@using FluentValidation.Results

@inject IQueueService queueService

@page "/"

<PageTitle>Index</PageTitle>

<h1>Payment Sender</h1>

<EditForm Model=@payment OnValidSubmit="@PublishMessage">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="containerWidth">
        <div class="form-group">
            <label for="from">From:</label>
            <InputText id="from" class="form-control" @bind-Value="payment.From" />
        </div>

        <div class="form-group">
            <label for="to">To:</label>
            <InputText id="to" class="form-control" @bind-Value="payment.To" />
        </div>

        <div class="form-group">
            <label for="amount">Amount:</label>
            <InputNumber id="amount" class="form-control" @bind-Value="payment.Amount" />
        </div>

        <br />

        <button type="submit" class="btn btn-primary">Send Payment</button>
    </div>
</EditForm>

<div class="containerWidth font-red">
    <Validation ValidationResult=@validationResult />
</div>

<div>
    <Debug IsDebug=@isDebug
           DebugPayment=@debug_payment />
</div>


@code {
    protected Payment payment = new Payment();
    protected ValidationResult validationResult = new ValidationResult();

    protected bool isDebug = false;
    protected Payment? debug_payment = null;

    private async Task PublishMessage()
    {
        if (isDebug)
        {
            debug_payment = payment;
        }

        var paymentValidator = new PaymentValidator();
        validationResult = paymentValidator.Validate(payment);
        if (validationResult.IsValid)
        {
            await queueService.PublishPaymentMesssage(payment);
        }

        payment = new Payment();
    }
}

<style>
    .containerWidth {
        width: 40%;
    }

    .font-red {
        color: #ff0000;
    }
</style>
